In [17]:
import pandas as pd

In [18]:
df=pd.read_csv("Iris.csv")
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [19]:
print(df.shape)
print(df.columns)

(150, 6)
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [20]:
#Task 1: Identifying and Imputing Missing Data
missing=df.isnull().sum()
missing

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [23]:
#Handling missing numerical values if any exist(no one in this dataset)
for column in ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']:
    median_value = df[column].median()
    df[column].fillna(median_value, inplace=True)

C:\Users\saadj\AppData\Local\Temp\ipykernel_5112\886596741.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)
C:\Users\saadj\AppData\Local\Temp\ipykernel_5112\886596741.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)
C:\Users\saadj\AppData\Local\Temp\ipykernel_5112\886596741.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)
C:\Users\saadj\AppData\Local\Temp\ipykernel_5112\886596741.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(median_value, inplace=True)

In [24]:
#Handling missing categorical values if exist(no one in this dataset)
if df['Species'].isnull().sum() > 0:
    mode_value = df['Species'].mode()[0]
    df['Species'].fillna(mode_value, inplace=True)

In [25]:
#Task 2: Data Integrity and Transformation

In [26]:
#Removing duplicate rows
df.drop_duplicates(inplace=True)

In [27]:
# Create new feature `TotalArea`
df['SepalArea'] = df['SepalLengthCm'] * df['SepalWidthCm']
df['PetalArea'] = df['PetalLengthCm'] * df['PetalWidthCm']
df['TotalArea'] = df['SepalArea'] + df['PetalArea']

In [28]:
#Dropping rows if having any missing data
if df.isnull().any().any():
    df = df.dropna()

In [29]:
#Task 3: Aggregation and Data Transformation

In [30]:
# Numerical Conversion of Categorical Data
df['SpeciesNumeric'] = df['Species'].astype('category')

In [31]:
#Apply Grouped Aggregation:
grouped = df.groupby('Species').agg(
    SepalLengthSum=('SepalLengthCm', 'sum'),
    SepalWidthSum=('SepalWidthCm', 'sum'),
    PetalLengthSum=('PetalLengthCm', 'sum'),
    PetalWidthSum=('PetalWidthCm', 'sum')
)
grouped

                 SepalLengthSum  SepalWidthSum  PetalLengthSum  PetalWidthSum
Species
Iris-setosa               250.3          170.9            73.2           12.2
Iris-versicolor           296.8          138.5           213.0           66.3
Iris-virginica            329.4          148.7           277.6          101.3

In [32]:
#Task 4: Data Reshaping

In [33]:
df_long = pd.melt(df, 
                  id_vars=['Id', 'Species'], 
                  value_vars=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
                  var_name='Attribute', 
                  value_name='Value')

df_long.head()

   Id      Species      Attribute  Value
0   1  Iris-setosa  SepalLengthCm    5.1
1   2  Iris-setosa  SepalLengthCm    4.9
2   3  Iris-setosa  SepalLengthCm    4.7
3   4  Iris-setosa  SepalLengthCm    4.6
4   5  Iris-setosa  SepalLengthCm    5.0